/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/


html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #0A2C42;
    padding: 10px;
}
h4{
    color: #F7F9F9;
}
.topnav{
    background-color: #2081C3;
    padding: 15px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25vw;
    list-style-type: none;   
     
}
.nav a{
    text-decoration: none;
    color: #F7F9F9;
}

.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    
}

.rolf{
    width: 17vw;
}

.royce{
    width: 25vw;
}

.cervecita {
    height: 60vh
}
.beers-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.beer img{
    height: 100px;
}
.beer {
    height: 40vh;
    margin: 10px;
    
}