<div class="beers-container">


<ul>
   {{#each beersList}}
   <div class="beer">
    <img src="{{image_url}}" alt="">
    <h1> {{name}}</h1>
    <span>{{tagline}}</span>
    <p>{{description}}</p>
    </div>
   {{/each}}
</ul>

</div>