<div class="index-container">
  <div class="mainPage">
      <img class="cervecita"src="/images/beer.png">
      <button type="button" class="btn btn-primary rolf" href="/beers">Check the beers!</button>
      <button type="button" class="btn btn-primary royce" href="/random-beers">Check a Random Beer!</button>
  </div>
</div>