<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <link rel="stylesheet" href="../public/stylesheets/styles.css"> --}}
   
</head>

<body> <title>IronBeers</title>
      
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randomB">Random Beer</a></li>
        </ul>
{{{ body }}}
<footer>
        Develop by IronDaniel :]
    </footer>
</body>

</html>





