<div class="random-beers-container">
<ul>
   
   <div class="beer">
    <img src="{{image_url}}" alt="">
    <h1> {{name}}</h1>
    <span>{{tagline}}</span>
    <p>{{description}}</p>
    </div>
  
</ul>




</div>